@page
@model controleJornadas.Pages.JornadasCRUD.CreateModel

@{
    ViewData["Title"] = "Jornadas";
    Layout = "_Layout";
}

<h4>Jornadas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Jornada.HrInicio" class="control-label"></label>
                <input asp-for="Jornada.HrInicio" class="form-control" />
                <span asp-validation-for="Jornada.HrInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jornada.HrFim" class="control-label"></label>
                <input asp-for="Jornada.HrFim" class="form-control" />
                <span asp-validation-for="Jornada.HrFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jornada.Turno" class="control-label"></label>
                <input asp-for="Jornada.Turno" class="form-control" />
                <span asp-validation-for="Jornada.Turno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jornada.Valor" class="control-label"></label>
                <input asp-for="Jornada.Valor" class="form-control" />
                <span asp-validation-for="Jornada.Valor" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Jornada.FuncionarioId" class="control-label"></label>
                <select asp-for="Jornada.FuncionarioId" class="form-control" asp-items="ViewBag.Funcionarios"></select>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
