@page
@model controleJornadas.Pages.BasesCrud.EditModel

@{
    ViewData["Title"] = "Alterar Filial";
    Layout = "_Layout";
}


<h4>Alterar Filial @Model.Bases.Sigla</h4>
<hr />
<!-- Adicione esta seção para exibir mensagens -->
@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-success">
        @TempData["Mensagem"]
    </div>
}
<div class="row" style="justify-content: center;">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bases.Id" />
            <div class="form-group">
                <label asp-for="Bases.Nome" class="control-label"></label>
                <input asp-for="Bases.Nome" class="form-control" />
                <span asp-validation-for="Bases.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bases.Cidade" class="control-label"></label>
                <input asp-for="Bases.Cidade" class="form-control" />
                <span asp-validation-for="Bases.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bases.Sigla" class="control-label"></label>
                <input asp-for="Bases.Sigla" class="form-control" />
                <span asp-validation-for="Bases.Sigla" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group" style="display: flex;justify-content: space-between;">
                <input type="submit" value="Salvar alterações" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-page="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
