@page
@model RegisterModel
@{
    ViewData["Title"] = "Controle de Jornadas - Home";
}

<div class="signinform">
    <h1>Controle de Jornadas</h1>
    <div class="container">
        <div class="w3l-form-info">
            <div class="w3_info">
                <h2>Cadastro</h2>
                <form method="post">
                    <div class="input-group">
                        <span><i class="fas fa-user" aria-hidden="true"></i></span>
                        <input asp-for="Usuario" placeholder="E-mail ou Usuário" required class="form-control" />
                    </div>
                    <div class="input-group">
                        <span><i class="fas fa-key" aria-hidden="true"></i></span>
                        <input asp-for="Senha" type="password" placeholder="digite sua senha" required class="form-control" />
                    </div>
                    <div class="input-group">
                        <span><i class="fas fa-key" aria-hidden="true"></i></span>
                        <input asp-for="ConfirmarSenha" type="password" placeholder="Confirme sua senha" required class="form-control" />
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
